@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
}

.header,
.hero {
    background-color: #1f2937;
    color: #F9FAF8;
}

.header-link,
.hero-secondary {
    color: #E5E7EB;
    font-size: 18px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 16px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-link {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 16px;
}

/* Hero */
.hero {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    padding: 60px 16px;

}

.hero-left {
    padding-right: 32px;
    width: 50%;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0px auto;
}

.hero-secondary {
    padding-bottom: 16px;
    flex: 1;
}

.blue-button {
    background-color: #3882F6;
    border-radius: 8px;
    color: white;
    padding: 8px 32px;
    width: fit-content;
}

.hero-right img {
    width: 600px;
    max-width: 100%;
}

img {
    width: 50%;
}

.content {
    display: flex;
    justify-content: center;
}

.pullquote {
    background-color: #E5E7EB;
    font-style: italic;
    font-size: 36px;
    padding: 64px;
}

.calltoaction {
    display: flex;
    background-color: #3882F6;
    color: #F9FAF8;
    width: 80%;
    padding: 48px;
}

.footer {}